html {
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	font-family: Avenir, Helvetica;
	height: 100%;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #2A5AA8;
	transition: 0.25s;
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

main {
	height: 100%;
	margin: 0;
}

.main-container {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

.main-row {
	height: 100%;
}

nav {
	width: 100%;
	height: 5vh;
	line-height: 5vh;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	font-size: 0.8em;
	z-index: 15;
}

nav ul {
	padding-left: 15px;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	transition: 0.25s;
}

nav ul li:hover {
	color: steelblue;
}

.sidebar {
	height: 100%;
	border-right: 1px solid #ccc;
}

.sidebar .tabs {
	width: 100%;
	height: 5vh;
	line-height: 5vh;
	position: absolute;
	top: 5vh;
	background: #eee;
	z-index: 10;
}

.sidebar .tabs h2 {
	height: 100%;
	line-height: 5vh;
	text-align: left;
	font-size: 1.2em;
	margin: 0;
	border-bottom: 3px solid #eee;
	cursor: pointer;
	transition: 0.25s;
}

.sidebar .tabs h2:hover {
	background: #ccc;
}

.sidebar .tab-selected {
	border-bottom-color: #000 !important;
	background: #852D9B;
    color: #fff;
}

.sidebar .tabs h2.tab-selected:hover {
	background: #712684;
}

.sidebar .tab-content {
	overflow: auto;
    max-height: 90vh;
    margin-top: 10vh;
    padding-bottom: 300px;
}

.sidebar .tab-content h3 {
	font-size: 1.3em;
	margin-top: 20px;
	color: #3066BE;
}

.tile {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 15px;
	padding: 15px;
	box-shadow: 1px 1px #aaa;
	cursor: pointer;
	transition: 0.5s;
}

.tile.expandable:not(.tile-selected):hover {
	background: #eee;
}

.tile:last-child {
	margin-bottom: 15px;
}

.tile h4 {
	font-size: 1em;
}

.tile img {
	width: 100%;
    height: 200px;
   	margin-bottom: 10px;
}

.tile p {
	/*padding: 15px;*/
}

.tile a {
	display: block;
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

.tile-selected {
	border: 2px solid #000;
	cursor: default;
}

.checkbox-list {
	margin-bottom: 10px;
}

.checkbox-list li {
	margin-top: 5px;
	white-space: nowrap;
    overflow: auto;
}

.checkbox-list label {
	margin-left: 5px;
	font-weight: normal;
}

.btn-plain {
	background: #ddd;
	border: 1px solid #aaa;
	transition: 0.25s;
}

.btn-plain:hover {
	background: #ccc;
}

.var-select {
	width: 100%;
	margin-bottom: 10px;
}

.var-select > button {
	width: 100%;
    text-align: left;
    font-size: 0.9em;
    background: #eee;
    color: #000;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu li {
	cursor: pointer;
	text-align: right;
	padding: 5px;
}

.dropdown-menu li:hover {
	background: #eee;
}

.selected-dropdown-item {
	background: #ccc;
}

.vis-container {
	padding: 0;
}

#map {
	width: 100%;
	height: 100vh;
}

#map svg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.tooltip {
	background: #494949;
	border: 1px solid #ccc;
	color: #fff;
	padding: 5px;
	pointer-events: none;
}

.drilldown {
	background: #fff;
	width: 90%;
	margin: auto;
	height: auto;
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    padding: 15px;
	transition: 0.5s;
}

.drilldown.open {
	transform: translate(-50%, -110%);
}

.drilldown h3 {
	margin: 0;
}

.drilldown .community-drill img {
	width: 100%;
}

.drilldown .drill-header {
	margin-bottom: 15px;
}

.drilldown .drill-row:not(:last-child) {
	margin-bottom: 15px;
}

.close-button {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 20;
}

/*.dash-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

.dash-value {
	margin-top: 5px;
	font-size: 1.5em;
	display: block;
}

.dash-units {
	font-size: 0.8em;
	display: block;
}

.dash-label {
	padding: 5px;
	display: block;
	background: #eee;
}*/

.quad-block {
	height: 150px;
    border: 1px solid #ccc;
    padding: 15px;
}

.quad-block span {
	display: block;
	text-align: center;
}

.quad-value {
	font-size: 2em;
}

.details-table tr:not(:first-child) td {
	padding-top: 5px;
}

.details-table td:first-child {
	min-width: 200px;
	font-weight: bold;
}

.legend {
	position: absolute;
	width: 362px;
	top: 15px;
	right: 15px;
	z-index: 10;
	background: #474747;
	opacity: 0.7;
	border: 1px solid #ccc;
	padding: 15px 15px 0px 15px;
	color: #fff;
	font-size: 0.7em;
}

.legend h3 {
	margin-top: 0;
	margin-bottom: 15px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.legend p {
	margin: 0;
}

.legend .units {
	font-size: 0.8em;
}

.legend svg text {
	font-size: 0.9em;
	fill: #fff;
}

.popup-container {
	width: 90%;
	margin: auto;
}

.popup-container nav {
	display: block;
	position: relative;
	text-align: center;
}

.home-popup-bg {
	position: absolute;
	width: 100%;
	height: 0;
	background: #000;
	opacity: 0;
	top: 0;
	left: 0;
	/*transition: 0.25s;*/
	z-index: 19;
}

.home-popup-bg.open {
	opacity: 0.75;
	height: 100vh;
}

.home-popup-fg {
	position: absolute;
	width: 80%;
	background: #fff;
	border: 1px solid #ccc;
	opacity: 0;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
	z-index: 20;
	padding: 20px;
	max-height: 95vh;
	overflow: auto;
	transition: 0.5s;
}

.home-popup-fg.open {
	opacity: 1;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

.home-popup-fg h1 {
	text-align: center;
	margin-bottom: 20px;
}

.home-popup-fg p {
	font-size: 1.1em;
}

.home-popup-fg .tile {
	font-size: 1.4em;
	min-height: 200px;
}

.home-popup-fg .tile:hover {
	box-shadow: 3px 3px #bbb;
}

.home-popup-fg .tile span {
	font-weight: bold;
	color: #3066BE;
	transition: 0.5s;
}

.home-popup-fg .tile:hover span {
	color: #852D9B;
}

.contribute-popup .tile {
	width: 100%;
}

.disclaimer {
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #FFDD63;
	padding: 15px;
	text-align: center;
}

/*.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis text {
	font-family: Avenir, Helvetica;
	font-size: 1.5em;
	color: #000;
}

.axis path, .axis line {
	stroke: #000;
}

.y.axis path {
	display: none;
}

.y.axis g.tick:first-of-type {
	display: none;
}*/



