/*********************
* Color Guide
*
* main-alt: #4649ae;
* dark-grey: #494949;
* coral: #712684;
* fish: #2B59C3;
* benthos: #CE2780;
*********************/

html {
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	font-family: Avenir, Helvetica;
	/*height: 100%;*/
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #2A5AA8;
	transition: 0.25s;
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

main {
	height: 100%;
	margin: 0;
}

footer {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #ccc;
}

.container, .explore-container {
	padding-top: 50px;
}

.container {
	font-size: 1.2em;
}

.explore-container {
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.explore-row {
	height: 100%;
}

nav {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	font-size: 1em;
	text-align: center;
	z-index: 15;
}

nav ul {
	padding-left: 15px;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	transition: 0.25s;
}

nav ul li:hover {
	color: #aaa;
}

nav img {
	height: 30px;
	width: auto;
}

nav .home-link {
	position: absolute;
	left: 15px;
}

nav .border {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: linear-gradient(0.25turn, #712684, #2B59C3, #CE2780);
}

nav .active-nav, nav .active-nav:hover {
	color: #4649ae;
}

.sidebar {
	height: 100%;
	border-right: 1px solid #ccc;
}

.sidebar .tabs {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	background: #494949;
	color: #fff;
	z-index: 10;
}

.sidebar .tabs h2 {
	height: 100%;
	line-height: 50px;
	text-align: left;
	font-size: 1em;
	margin: 0;
	cursor: pointer;
	transition: 0.25s;
}

.sidebar .tabs h2:hover {
	background: #777777;
}

.sidebar .tabs img, .sidebar .tabs i {
	height: 20px;
	margin-right: 5px;
}

@media screen and (max-width: 1408px) and (min-width: 1031px) {
	.sidebar .tabs img, .sidebar .tabs i {
		display: none !important;
	}

	.sidebar .tabs h2 {
		text-align: center;
	}
}

@media screen and (max-width: 1031px) {
	.sidebar .tabs span {
		display: none !important;
	}
	.sidebar .tabs h2 {
		text-align: center;
	}
}

.sidebar .tab-selected {
	border-bottom: 3px solid #000;
    color: #fff;
    pointer-events: none;
    background: #777777;
}

.sidebar .tab-selected.coral {
	background: #712684;
}

.sidebar .tab-selected.fish {
	background: #2B59C3;
}

.sidebar .tab-selected.benthos {
	background: #CE2780;
}

.sidebar .tab-content {
	overflow: auto;
    max-height: 100%;
    margin-top: 50px;
    padding-bottom: 100px;
}

.sidebar .tab-content h3 {
	font-size: 1.3em;
	margin-top: 20px;
}

.sidebar .tab-content h3.coral {
	color: #712684;
}

.sidebar .tab-content h3.fish {
	color: #2B59C3;
}

.sidebar .tab-content h3.benthos {
	color: #CE2780;
}

.sidebar .tab-content .btn-wide {
	margin-bottom: 10px;
}

.tile {
	border: 1px solid #ccc;
	border-radius: 35px;
	margin-top: 15px;
	padding: 15px;
	box-shadow: 1px 1px #aaa;
	cursor: pointer;
	transition: 0.5s;
}

.tile.expandable:not(.tile-selected):hover {
	background: #ddd;
}

.tile:last-child {
	margin-bottom: 15px;
}

.tile h4 {
	font-size: 1em;
}

.tile img {
	width: 100%;
    height: 200px;
   	margin-bottom: 10px;
}

.tile p {
	/*padding: 15px;*/
}

.tile a {
	display: block;
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

.tile-selected {
	border: 2px solid #000;
	cursor: default;
	background: #eee;
}

/*.checkbox-list {
	margin-bottom: 10px;
}

.checkbox-list li {
	margin-top: 5px;
	white-space: nowrap;
    overflow: auto;
}

.checkbox-list label {
	margin-left: 5px;
	font-weight: normal;
}*/

.checkbox-grid .grid-item {
	display: inline-block;
	height: 100px;
	width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
	white-space: pre-wrap;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 1px 1px #aaa;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
    color: #fff;
    cursor: pointer;
}

.checkbox-grid .grid-item:hover {
	box-shadow: 3px 3px #aaa;
}

.checkbox-grid .grid-item img {
	height: auto;
	width: 100%;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%);
}

.checkbox-grid .grid-item:hover img, .checkbox-grid .grid-item.active img {
	filter: none;
}

.checkbox-grid .checkbox-title {
	background: #494949;
    opacity: 0.9;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.8em;
}

.checkbox-grid .checkbox-check, .checkbox-grid .checkbox-ellipsis {
	background: red;
    border-radius: 35px;
    width: 25px;
    height: 25px;
    text-align: center;
   	background: none;
   	position: absolute;
	bottom: 5px;
	cursor: pointer;
	transition: 0.25s;
}

.checkbox-grid .checkbox-check {
	left: 5px;
}


.checkbox-grid .checkbox-ellipsis {
	right: 5px;
	background: #494949;
}

.checkbox-grid .checkbox-ellipsis:hover {
	background: #777777;
}

/*.checkbox-grid .grid-item.active .checkbox-check.coral {
	background: #712684;
}

.checkbox-grid .grid-item.active .checkbox-check.fish {
	background: #2B59C3;
}

.checkbox-grid .grid-item.active .checkbox-check.benthos {
	background: #CE2780;
}

.checkbox-grid .checkbox-check.coral:hover {
	background: #8A5199 !important;
}

.checkbox-grid .checkbox-check.fish:hover {
	background: #4C74D3 !important;
}

.checkbox-grid .checkbox-check.benthos:hover {
	background: #E560A7 !important;
}*/

.checkbox-grid i {
	vertical-align: middle;
}

.checkbox-grid .grid-item-container button i {
	position: absolute;
	left: 25px;
	top: 10px;
}

.sidebar-overlay {
	position: absolute;
	height: 100%;
	background: #fff;
	overflow: auto;
    padding-bottom: 75px;
}

.sidebar-overlay h3 {
	cursor: pointer;
}

.sidebar-overlay img {
	width: 100%;
	margin-bottom: 10px;
}

.sidebar-overlay .footnote {
	font-size: 0.8em;
}

.sidebar-overlay .footnote-toggle {
	margin-right: 5px;
	cursor: pointer;
}

.btn-plain {
	background: #fff;
	border: 1px solid #aaa;
	transition: 0.25s;
}

.btn-plain:hover {
	background: #ccc;
}

.btn-wide {
	width: 100%;
}

.btn-tile {
	width: 300px;
	background: #4649ae;
	color: #fff;
}

.btn-close {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 20;
	color: #000;
}

.btn-tile:hover {
	opacity: 0.9;
}

.var-select {
	width: 100%;
	margin-bottom: 10px;
}

.var-select > button {
	width: 100%;
    text-align: left;
    color: #000;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu li {
	cursor: pointer;
	text-align: right;
	padding: 5px;
}

.dropdown-menu li:hover {
	background: #eee;
}

.selected-dropdown-item {
	background: #ccc;
}

.vis-container {
	padding: 0;
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

#map svg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#map .tooltip {
	background: #494949;
	border: 1px solid #ccc;
	color: #fff;
	padding: 5px;
	pointer-events: none;
}

#map .tooltip p {
	margin: 0;
}

.drilldown {
	background: #6f7171;
	color: #fff;
	width: 70%;
	margin: auto;
	height: auto;
	position: absolute;
	top: 100%;
	left: 10px;
    /*transform: translate(-50%, 0);*/
    z-index: 10;
    padding: 15px;
	transition: 0.5s;
	font-size: 0.9em;
	opacity: 0.95;
}

.drilldown.open {
	transform: translate(0, -105%);
}

.drilldown h3 {
	margin: 0 10px 0px 0px;
	display: inline-block;
}

.drilldown .community-drill img {
	/*width: 100%;*/
	max-height: 200px;
	max-width: 250px;
	height: auto;
	width: auto;
}

.drilldown .community-drill td:last-child {
	vertical-align: top;
	padding-left: 15px;
}

.drilldown .drill-header {
	margin-bottom: 15px;
}

.drilldown .drill-header span {
	color: #eee;
}

.drilldown .drill-row:not(:last-child) {
	margin-bottom: 15px;
}

.drilldown a {
	color: #8EB9FF;
	display: block;
	margin-top: 10px;
}

/*.dash-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

.dash-value {
	margin-top: 5px;
	font-size: 1.5em;
	display: block;
}

.dash-units {
	font-size: 0.8em;
	display: block;
}

.dash-label {
	padding: 5px;
	display: block;
	background: #eee;
}*/

.quad-block {
	height: 85px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #000;
}

.quad-block span {
	display: block;
	text-align: center;
}

.quad-value {
	font-size: 1.5em;
}

.quad-units {
	font-size: 0.8em;
}

.details-table {
	width: 100%;
}

.details-table tr:not(:first-child) td {
	padding-top: 5px;
}

.details-table td:first-child {
	font-weight: bold;
}

#legend {
	position: absolute;
	width: 175px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 10;
	background: #474747;
	opacity: 0.7;
	border: 1px solid #ccc;
	color: #fff;
	font-size: 0.8em;
}

#legend.closed {
	height: auto;
}

#legend h3 {
	margin: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

#legend .units {
	font-size: 0.8em;
}

#legend svg text {
	font-size: 0.9em;
	fill: #fff;
}

.legend-science {
	margin-top: 5px
}

.legend-science p {
	margin-left: 10px;
	margin-bottom: 0;
}

.popup-container {
	width: 90%;
	margin: auto;
}

.popup-container nav {
	display: block;
	position: relative;
	text-align: center;
}

/*.home-popup-bg {
	position: absolute;
	width: 100%;
	height: 0;
	background: #000;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 19;
}

.home-popup-bg.open {
	opacity: 0.75;
	height: 100vh;
}

.home-popup-fg {
	position: absolute;
	width: 80%;
	background: #fff;
	border: 1px solid #ccc;
	opacity: 0;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
	z-index: 20;
	padding: 20px;
	max-height: 95vh;
	overflow: auto;
	transition: 0.5s;
}

.home-popup-fg.open {
	opacity: 1;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

.home-popup-fg h1 {
	text-align: center;
	margin-bottom: 20px;
}

.home-popup-fg p {
	font-size: 1.1em;
}

.home-popup-fg .tile {
	font-size: 1.4em;
	min-height: 200px;
}

.home-popup-fg .tile:hover {
	box-shadow: 3px 3px #bbb;
}

.home-popup-fg .tile span {
	font-weight: bold;
	color: #3066BE;
	transition: 0.5s;
}

.home-popup-fg .tile:hover span {
	color: #852D9B;
}

.contribute-popup .tile {
	width: 100%;
}*/

.container header {
	margin-top: 50px;
	margin-bottom: 50px;
}

.container section {
	margin-bottom: 50px;
}

.container section .short-border {
	margin-bottom: 30px;
}

.container h2 {
	text-align: left;
	margin-top: 0;
	color: #606060; 
	font-size: 1.3em;
}

.home {
	text-align: center;
}

.home header h1 {
	font-size: 3em;
	margin: 0;
	display: inline-block;
}

.home header h2 {
	text-align: center;
	font-size: 1.3em;
	font-style: italic;
	color: #606060;
	margin: 0;
	display: inline-block;
}

.home header > div {
	display: inline-block;
	margin-left: 20px;
	text-align: left;
}

.home header img {
	width: 100px;
	height: auto;
	vertical-align: baseline;
}

.home-info {
	margin-bottom: 50px;
}

.home-selections {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

.home-selections .btn {
	font-size: 1em;
	border-radius: 0;
}

.home-selections .btn.coral {
	border-bottom: 2px solid #712684;
}

.home-selections .btn.fish {
	border-bottom: 2px solid #2B59C3;
}

.home-selections .btn.benthos {
	border-bottom: 2px solid #CE2780;
}

.home-descriptions {
	text-align: left;
	margin-bottom: 100px;
}

.home-descriptions > .row:first-child {
	margin-bottom: 50px;
}

.home-descriptions h3 {
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
	margin: 0;
}

.home-descriptions .short-border {
	margin-bottom: 30px;
}

.home-descriptions img {
	height: 100px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}

.home-descriptions .coral {
	color: #712684;
}

.home-descriptions .fish {
	color: #2B59C3;
}

.home-descriptions .benthos {
	color: #CE2780;
}

.contribute > *:last-child {
	text-align: center;
	margin-bottom: 50px;
}

.short-border {
	width: 75px;
	height: 5px;
	background: #4649ae;
}

.disclaimer {
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #FFDD63;
	padding: 15px;
	text-align: center;
}

/*.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis text {
	font-family: Avenir, Helvetica;
	font-size: 1.5em;
	color: #000;
}

.axis path, .axis line {
	stroke: #000;
}

.y.axis path {
	display: none;
}

.y.axis g.tick:first-of-type {
	display: none;
}*/



