html {
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	font-family: Avenir, Helvetica;
	height: 100%;
}

a {
	text-decoration: none;
	color: #1EAEDB;
	transition: 0.25s;
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

main {
	height: 100%;
	margin: 0;
}

.main-container {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

.main-row {
	height: 100%;
}

nav {
	width: 100%;
	height: 5vh;
	line-height: 5vh;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 10;
}

nav ul {
	padding-left: 15px;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

.sidebar {
	height: 100%;
	border-right: 1px solid #ccc;
}

.sidebar .tabs {
	width: 100%;
	height: 5vh;
	line-height: 5vh;
	position: absolute;
	top: 5vh;
	background: #eee;
	z-index: 10;
}

.sidebar .tabs h2 {
	height: 100%;
	line-height: 5vh;
	text-align: left;
	font-size: 1.5em;
	margin: 0;
	border-bottom: 3px solid #eee;
	cursor: pointer;
	transition: 0.25s;
}

.sidebar .tabs h2:hover {
	background: #ccc;
}

.sidebar .tab-selected {
	border-bottom-color: #000 !important;
}

.sidebar .tab-content {
	overflow: auto;
    max-height: 90vh;
    margin-top: 10vh;
}

.sidebar-tile {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 15px;
	padding: 15px;
	transition: 0.25s;
}

.sidebar-tile.expandable:hover {
	background: #eee;
	cursor: pointer;
}

.sidebar-tile:last-child {
	margin-bottom: 15px;
}

.sidebar-tile .var-select {
	width: 100%;
}

.sidebar-tile .var-select > button {
	width: 100%;
    text-align: left;
    font-size: 1.2em;
    border-radius: 5px 5px 0px 0px;
}

.sidebar-tile img {
	width: 100%;
    height: 200px;
   /* padding: 15px 15px 0px 15px;*/
}

.sidebar-tile p {
	/*padding: 15px;*/
}

.tile-selected {
	border: 2px solid #000;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu li {
	cursor: pointer;
	text-align: right;
	padding: 5px;
}

.dropdown-menu li:hover {
	background: #eee;
}

.selected-dropdown-item {
	background: #ccc;
}

.vis-container {
	padding: 0;
}

#map {
	width: 100%;
	height: 100vh;
}

#map svg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.tooltip {
	background: #494949;
	border: 1px solid #ccc;
	color: #fff;
	padding: 5px;
	pointer-events: none;
}

.drilldown {
	background: #fff;
	width: 90%;
	margin: auto;
	height: auto;
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    padding: 15px;
	transition: 0.5s;
}

.drilldown.open {
	transform: translate(-50%, -110%);
}

.drilldown h3 {
	margin: 0;
}

.drilldown .community-drill img {
	width: 100%;
}

.drilldown .drill-header {
	margin-bottom: 15px;
}

.drilldown .drill-row:not(:last-child) {
	margin-bottom: 15px;
}

.dash-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

.dash-value {
	margin-top: 5px;
	font-size: 1.5em;
	display: block;
}

.dash-units {
	font-size: 0.8em;
	display: block;
}

.dash-label {
	padding: 5px;
	display: block;
	background: #eee;
}

/*.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis text {
	font-family: Avenir, Helvetica;
	font-size: 1.5em;
	color: #000;
}

.axis path, .axis line {
	stroke: #000;
}

.y.axis path {
	display: none;
}

.y.axis g.tick:first-of-type {
	display: none;
}*/



