<article class="container">
	<header>
		<h1>About</h1>
		<p>ReefGauge is an early-stage experimental project out of the Georgia Institute of Technology. The tool's goal is make environmental data about the ocean a more engaging resource for divers and ocean enthusiasts. You're seeing the first version of the tool which is exclusively focused on data in and around the Caribbean. The hope is that this project will continue to grow to include data about reefs all over the world.</p>
	</header>
	<section>
		<h2>Contact</h2>
		<div class="short-border"></div>
		If you find any issues with the tool or would like to partner with us, feel free to send us an email at <a href="mailto:codonnell30@gatech.edu">codonnell30@gatech.edu</a>.
	</section>
	<section>
		<h2>References</h2>
		<div class="short-border"></div>
		<p>Dahlgren, C., K. Sherman, J. Lang, P.R. Kramer, & K. Marks. 2016. Bahamas Coral Reef Report Card Volume 1: 2011–2013.</p>
		<p>Fong, P., & Paul, V. J. (2011). Coral reef algae. In Coral reefs: an ecosystem in transition (pp. 241-272). Springer, Dordrecht.</p>
		<p>iNaturalist. Available from <a href="https://www.inaturalist.org">https://www.inaturalist.org.</a> Accessed 28 February 2020.</p>
		<p>Kramer PR, Roth LM, Constantine S, Knowles J, Cross L, Steneck R, Newman SP, Williams SM. 2016. Saint Lucia’s Coral Reef Report Card 2016. The Nature Conservancy. <a href="http://caribnode.org" target="_blank">CaribNode.org</a>.</p>
		<p>Lang, Judith C. and Lynnette M. Roth. 2019. Reef biophysical conditions across CMBP seascapes. CARIBBEAN MARINE BIODIVERSITY PROGRAM Cooperative Agreement No. AID-OAA-A14-00064. 16+i pp.</p>
		<p>Marks, K.W. 2018. “AGRRA Database, version (2018-03).” Available online <a href="http://www.agrra.org/data-explorer/explore-summary-products" target="_blank">http:www.agrra.org/data-explorer/explore-summary-products</a></p>
		<p>Marks, K.W. and J.C. Lang. 2018. “AGRRA Summary Products, version (2018-03).” Available online <a href="http://www.agrra.org/data-explorer/explore-summary-products" target="_blank">http:www.agrra.org/data-explorer/explore-summary-products</a></p>
	</section>
</article>