<article class="container contribute">
	<header>
		<h1>Contribute Your Observations</h1>
		<p>ReefGauge fuels its community data through a partnering project on the non-profit citizen science platform <a href="https://www.inaturalist.org/" target="_blank">iNaturalist</a>. Be a part of the solution, contextualize the science, and help the community see what's going on underwater.</p>
	</header>
	<section>
		<h2>Getting Started</h2>
		<div class="short-border"></div>
		<ol>
			<li>Set up an account on iNaturalist. It's free, easy, and completely not-for-profit.</li>
			<li>Check out and join the <a href="https://www.inaturalist.org/projects/reefgauge" target="_blank">ReefGauge iNaturalist project page</a>.</li>
			<li>Start uploading your observations! If your observation fits the criteria laid out on the ReefGauge project page, then it will automatically be added to the project.</li>
		</ol>
	</section>
	<section>
		<h2>What kinds of observations can you contribute?</h2>
		<div class="short-border"></div>
		<p>ReefGauge is focused on observations that help divers and scientists understand how healthy a reef is. This means that your observation should be a clear picture of coral, an herbivorous fish, a piscivorous fish, or a benthic organism like macroalgae or crustose coralline algae. Check out the different indicators and observation filters on the <a ui-sref="explore">Explore</a> page to see all the accepted groups species.</p>
		<p>At the moment, ReefGauge is focused on data and observations for the Caribbean, Gulf of Mexico, and Western Atlantic. Make sure your observations fall within this geographic range.</p>
	</section>
	<section>
		<h2>When do new observations from iNaturalist show up in ReefGauge?</h2>
		<div class="short-border"></div>
		<p>Right now, new observations from iNaturalist are pulled in bulk periodically but not instantaneously. It may take several days for your observation to show up in ReefGauge. However, ReefGauge is a new and developing tool so this may change in the future.</p>
	</section>
	<div>
		<a href="https://www.inaturalist.org/" target="_blank"><button class="tile btn-tile">Get started on <span>iNaturalist</span> <i class="fas fa-external-link-square-alt"></i></button></a>
	</div>
</article>