<div class="drilldown" ng-class="{'open': open}">
	<button class="btn btn-plain btn-close" ng-click="close()"><i class="fas fa-times"></i></button>
	<div ng-if="item && isCommunity" class="community-drill">
		<table>
			<tr>
				<td>
					<img ng-src="{{item.image_url}}">
				</td>
				<td>
					<h3>{{item.common_name}}</h3>
					<p>Observed by {{item.user_login}} on {{item.observed_on}}</p>
					<table class="details-table">
						<tr>
							<td>Scientific Name</td>
							<td>{{item.scientific_name}}</td>
						</tr>
						<tr>
							<td>Family</td>
							<td>{{item.taxon_family_name}}</td>
						</tr>
						<tr>
							<td>Order</td>
							<td>{{item.taxon_order_name}}</td>
						</tr>
					</table>
					<a ng-href="{{item.url}}" target="_blank">See this observation on iNaturalist <i class="fas fa-external-link-square-alt"></i></a>
				</td>
			</tr>
		</table>
	</div>
	<div ng-if="item && !isCommunity" class="science-drill">
		<div class="drill-header">
			<h3>{{item.site !== "" ? item.site : item.batch + " " + item.code}}</h3>
			<span><span uib-tooltip="Date Assessed">{{item.date}}</span> | <span uib-tooltip="Shelf">{{item.shelf}}</span> | <span uib-tooltip="Reef Zone">{{item.zone}}</span></span>
		</div>
		<div>
			<table class="quad col-sm-6">
				<tr>
					<td class="quad-block" ng-style="{'background': getScaledColor(coralKey, item[coralKey.key])}">
						<span class="quad-label">{{coralKey.display_name}}</span>
						<span class="quad-value">{{item[coralKey.key]}}</span>
						<span class="quad-units">{{coralKey.units}}</span>
					</td>
					<td class="quad-block" ng-style="{'background': getScaledColor(benthosKey, item[benthosKey.key])}">
						<span class="quad-label">{{benthosKey.display_name}}</span>
						<span class="quad-value">{{item[benthosKey.key]}}</span>
						<span class="quad-units">{{benthosKey.units}}</span>
					</td>
				</tr>
				<tr>
					<td class="quad-block" ng-style="{'background': getScaledColor(herbKey, item[herbKey.key])}">
						<span class="quad-label">{{herbKey.display_name}}</span>
						<span class="quad-value">{{item[herbKey.key]}}</span>
						<span class="quad-units">{{herbKey.units}}</span>
					</td>
					<td class="quad-block" ng-style="{'background': getScaledColor(piscKey, item[piscKey.key])}">
						<span class="quad-label">{{piscKey.display_name}}</span>
						<span class="quad-value">{{item[piscKey.key]}}</span>
						<span class="quad-units">{{piscKey.units}}</span>
					</td>
				</tr>
			</table>
			<div class="col-sm-6">
				<table class="details-table">
					<tr>
						<td>Average Depth</td>
						<td>{{item.depth}} m</td>
					</tr>
					<tr ng-repeat="k in nonPrimaryIndicatorKeys">
						<td>{{k.display_name_alt ? k.display_name_alt : k.display_name}}</td>
						<td>{{item[k.key]}} {{k.short_units}}</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- <div class="row drill-row" ng-repeat="group in nestedKeys">
			<div class="col-sm-1">
				<h4>{{group.key}}</h4>
			</div>
			<div class="col-sm-2" ng-repeat="k in group.values">
				<div class="dash-item">
					<span class="dash-label">{{k.display_name}}</span>
					<span class="dash-value">{{item[k.key]}}</span>
					<span class="dash-units">{{k.units}}</span>
				</div>
			</div>
		</div> -->
	</div>
</div>