<article class="container home">
	<header class="row">
		<img src="images/logo.svg">
		<div>
			<h1>ReefGauge</h1>
			<br>
			<h2>Caribbean Beta</h2>
		</div>
	</header>
	<!-- <p>Coral reefs are one of the world’s most complex, mesmerizing, and fragile environments. Understanding and protecting them requires collective knowledge from both the scientific community and the community of divers and ocean advocates. ReefGauge is a learning tool that blends knowledge from these communities together to empower all of us to be ambassadors for coral reefs.</p> -->
	<p class="home-info">ReefGauge is a learning tool that blends data from the scientific community and the diving community to help divers, researchers, and ocean advocates better understand reef health. Coral reefs are stabilized by a balanced relationship between coral, fish, and benthos. Start exploring to learn about the different reef health indicators and to become a more empowered ambassador for coral reefs.</p>
	<div class="home-selections">
		<div>
			<span>Show me </span>
			<div class="btn-group" uib-dropdown>
				<button type="button" class="btn" ng-class="hc.keyGroupName" uib-dropdown-toggle ng-disabled="disabled">{{hc.keyGroupName}} <span class="caret"></span></button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					<li role="menuitem" ng-repeat="name in hc.keyGroupNames" ng-click="hc.selectKeyGroup(name)">{{name}}</li>
				</ul>
			</div>
			<span> data from the </span>
			<div class="btn-group" uib-dropdown>
				<button type="button" class="btn" ng-class="hc.keyGroupName" uib-dropdown-toggle ng-disabled="disabled">{{hc.communityType}} <span class="caret"></span></button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					<li role="menuitem" ng-repeat="type in hc.communityTypes" ng-click="hc.selectCommunityType(type)">{{type}}</li>
				</ul>
			</div>
			<span> {{hc.communityType == 'scientific and diving' ? 'communities' : 'community'}} around the Caribbean.</span>
		</div>
		<button class="tile btn-tile" ng-click="hc.exploreWithParams()">Explore</button>
	</div>
	<div class="home-descriptions">
		<div class="row">
			<h2 class="col-sm-12">Reef Health Indicators</h2>
			<div class="col-sm-12">
				<div class="short-border"></div>
			</div>
			<div class="col-sm-4">
				<img src="images/coral.svg">
				<span><h3 class="coral">Corals</h3> are the basic building blocks of reefs, providing habitat for a diverse range of underwater organisms, and ensuring a healthy ecosystem. Tall, healthy, and abundant coral is a good indication that a reef is healthy.</span>
			</div>
			<div class="col-sm-4">
				<img src="images/fish.svg">
				<span><h3 class="fish">Fish</h3> are vital to a stable reef because they help feed on algae and other organisms that can be harmful to corals. Many fishes also rely on coral reefs for habitat, so a healthy reef should normally have abundant fish populations.</span>
			</div>
			<div class="col-sm-4">
				<img src="images/benthos.svg">
				<span><h3 class="benthos">Benthos</h3> refers to the small organisms like algae, starfish, and bacteria, that inhabit reef structures and the ocean floor. A reef’s benthic community is made up of promoters that help promote coral growth and detractors that prevent corals from surviving.</span>
			</div>
		</div>
		<div class="row">
			<h2 class="col-sm-12">Communities</h2>
			<div class="col-sm-12">
				<div class="short-border"></div>
			</div>
			<div class="col-sm-4">
				<span><h3>The scientific community</h3> is deeply committed to understanding more about coral reefs and how to protect them. ReefGauge uses data collected by researchers through the <a href="https://www.agrra.org/" target="_blank">Atlantic and Gulf Rapid Reef Assessment (AGRRA)</a>. These data measure over 700 reef sites across the Caribbean and Western Atlantic.</span>
			</div>
			<div class="col-sm-4">
				<span><h3>The diving community</h3> has a window into coral reef environments that lets them see for themsleves what's going on underwater. ReefGauge pulls in photo observations from <a href="https://www.inaturalist.org/projects/reefgauge" target="_blank">our citizen science project on iNaturalist</a> to contextualize the measurements from the scientific community.</span>
			</div>
		</div>
	</div>
</div>
</article>