<article class="home-popup-fg" ng-class="{'open': config.home_open}">
	<div class="popup-container">
		<nav>
			<ul>
				<li ng-repeat="page in pages" ng-click="goToPopupPage(page)">{{capitalize(page)}}</li>
			</ul>
		</nav>
		<div ng-if="config.popup_page === 'home'">
			<h1>ReefGauge</h1>
			<p>Coral reefs are one of the world’s most complex, mesmerizing, and fragile environments. Understanding and protecting them requires collective knowledge from both the scientific community and the community of divers and ocean advocates. ReefGauge is a learning tool that blends knowledge from these communities together to empower all of us to be ambassadors for coral reefs.</p>
			<div class="row">
				<div class="col-sm-4">
					<button class="tile" ng-click="goToMode('science')">Explore <span>scientific assessments</span> of coral reef health</button>
				</div>
				<div class="col-sm-4">
					<button class="tile" ng-click="goToMode('community')">Explore <span>community observations</span> of coral reefs</button>
				</div>
				<div class="col-sm-4">
					<button class="tile" ng-click="goToPopupPage('contribute')"><span>Contribute</span> your observations to the community</button>
				</div>
			</div>
			<div class="disclaimer">
				<p><i class="fas fa-exclamation-triangle"></i> ReefGauge is under active development and testing.</p>
			</div>
		</div>
		<div ng-if="config.popup_page === 'contribute'" class="contribute-popup">
			<h1>Contribute Your Observations</h1>
			<p>ReefGauge fuels its community data through a partnering project on the non-profit citizen science platform <a href="https://www.inaturalist.org/" target="_blank">iNaturalist</a>. Be a part of the solution, contextualize the science, and help the community see what's going on underwater.</p>
			<h2>Getting Started</h2>
			<ol>
				<li>Set up an account on iNaturalist. It's free, easy, and non-commercial.</li>
				<li>Check out the <a href="https://www.inaturalist.org/projects/reefgauge" target="_blank">ReefGauge iNaturalist project page</a>.</li>
				<li>Start uploading your observations!</li>
			</ol>
			<h2>What kinds of observations can you contribute?</h2>
			<p>ReefGauge is focused on observations that help divers and scientists understand how healthy a reef is. This means that your observation should be a clear picture of coral, an herbivorous fish, a piscivorous fish, or a bethic organism like macroalgae or crustose coralline algae. Check out the Reef Groups in the ReefGauge community tab to see all the accepted species.</p>
			<p>At the moment, ReefGauge is focused on data and observations for the Caribbean, Gulf of Mexico, and Western Atlantic. Make sure your observations fall within this geographic range.</p>
			<a href="https://www.inaturalist.org/" target="_blank"><button class="tile">Get started on <span>iNaturalist</span> <i class="fas fa-external-link-square-alt"></i></button></a>
		</div>
	</div>
</article>
<div class="home-popup-bg" ng-class="{'open': config.home_open}" ng-click="close()"></div>