<article class="container">
	<h1>ReefGauge</h1>
	<p>Coral reefs are one of the world’s most complex, mesmerizing, and fragile environments. Understanding and protecting them requires collective knowledge from both the scientific community and the community of divers and ocean advocates. ReefGauge is a learning tool that blends knowledge from these communities together to empower all of us to be ambassadors for coral reefs.</p>
	<div class="row">
		<div class="col-sm-4">
			<button class="tile" ng-click="goToMode('science')">Explore <span>scientific assessments</span> of coral reef health</button>
		</div>
		<div class="col-sm-4">
			<button class="tile" ng-click="goToMode('community')">Explore <span>community observations</span> of coral reefs</button>
		</div>
		<div class="col-sm-4">
			<button class="tile" ng-click="goToPopupPage('contribute')"><span>Contribute</span> your observations to the community</button>
		</div>
	</div>
	<div class="disclaimer">
		<p><i class="fas fa-exclamation-triangle"></i> ReefGauge is under active development and testing.</p>
	</div>
</div>
</article>