<div class="col-sm-12 sidebar-overlay">
	<h3 ng-click="close()"><i class="fas fa-arrow-left"></i> {{item.value_display_name}} {{item.subgroup ? '(' + item.subgroup + ')' : ''}}</h3>
	<img ng-src="{{item.image}}">
	<p>{{item.description}}</p>
	<div class="footnote">
		<p>
			<span class="footnote-toggle" ng-click="toggleImageCredit()"><i class="fas fa-camera"></i> {{showImageCredit ? 'Hide' : 'Show'}} image source</span>
			<span class="footnote-toggle" ng-click="toggleTextCredit()"><i class="fas fa-quote-right"></i> {{showTextCredit ? 'Hide' : 'Show'}} text source</span>
		</p>
		<p ng-if="showImageCredit" ng-bind-html="item.image_credit"></p>
		<p ng-if="showTextCredit" ng-bind-html="item.description_credit"></p>
	</div>
	<a ng-click="close()"><i class="fas fa-arrow-left"></i> Go back</a>
</div>