<div class="legend">
	<h3 ng-click="toggleLegend()">Legend <i class="fas pull-right" ng-class="open ? 'fa-minus' : 'fa-plus'"></i></h3>
	<svg id="legend-community-svg" ng-show="open"></svg>
	<div ng-show="open">
		<div class="row">
			<div class="col-xs-6">
				<p>{{colorKey.display_name}}</p>
				<p class="units">{{colorKey.units}}</p>
			</div>
			<div class="col-xs-6">
				<p>{{sizeKey.display_name}}</p>
				<p class="units">{{sizeKey.units}}</p>
			</div>
		</div>
		<svg id="legend-science-svg"></svg>
	</div>
</div>