<home-popup config="vc.config"></home-popup>
<article class="main-container container-fluid">
	<div class="main-row row">
		<section class="sidebar col-sm-3">
			<nav>
				<ul>
					<li ng-click="vc.openHomePopup()"><i class="fas fa-home"></i> ReefGauge</li>
					<li><i class="fas fa-book"></i> Glossary</li>
				</ul>
			</nav>
			<div class="tabs row">
				<h2 class="col-md-6" ng-click="vc.setDataMode('science')" ng-class="vc.config.dataMode == 'science' ? 'tab-selected' : ''">Science</h2>
				<h2 class="col-md-6" ng-click="vc.setDataMode('community')" ng-class="vc.config.dataMode == 'community' ? 'tab-selected' : ''">Community</h2>
				<p></p>
			</div>
			<div class="tab-content row">
				<div class="col-sm-12" ng-show="vc.config.dataMode === 'science'">
					<div>
						<h3>Scientific Assessments of Reef Health</h3>
						<p>Between 2007 and 2016, AGRRA scientists have conducted over 700 assessments of coral reefs throughout the Caribbean, South Atlanta Ocean, and Gulf of Mexico. These assessments help us understand how healthy a reef is by measuring dozens of factors related to coral, fish, and benthos. Together, these factors tell a story for each reef. Each circle you see here represents a reef while its size and color represent key factors measured by scientists.</p>
					</div>
					<div>
						<h3>Reef Health Indicators</h3>
						<div class="tile expandable" ng-repeat="k in vc.topLevelKeys" ng-click="vc.toggleScienceKeyTile(k)" ng-class="{'tile-selected': k.selected}">
							<h4>{{k.display_name}}</h4>
							<div ng-if="k.selected">
								<img ng-src="{{k.image}}">
								<p>{{k.description}}</p>
							</div>
						</div>
					</div>
					<div>
						<h3>Explore all the Indicators</h3>
						<div class="btn-group var-select" uib-dropdown>
							<button id="color-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
							Size points by {{vc.getKeyMeta(vc.config.science.sizeBy).display_name}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li role="menuitem" ng-repeat="prop in vc.config.keys" ng-click="vc.setScienceSize(prop.key)" ng-class="prop == vc.config.science.sizeBy ? 'selected-dropdown-item' : ''">{{prop.display_name}}</li>
							</ul>
					    </div>
						<div class="btn-group var-select" uib-dropdown>
							<button id="color-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
							Color points by {{vc.getKeyMeta(vc.config.science.colorBy).display_name}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li role="menuitem" ng-repeat="prop in vc.config.keys" ng-click="vc.setScienceColor(prop.key)" ng-class="prop == vc.config.science.colorBy ? 'selected-dropdown-item' : ''">{{prop.display_name}}</li>
							</ul>
					    </div>					
					</div>
				</div>
				<div class="col-sm-12" ng-show="vc.config.dataMode === 'community'">
					<div>
						<h3>Community Observations of Coral Reefs</h3>
						<p>Between 2007 and 2016, AGRRA scientists have conducted over 700 assessments of coral reefs throughout the Caribbean, South Atlanta Ocean, and Gulf of Mexico. These assessments help us understand how healthy a reef is by measuring dozens of factors related to coral, fish, and benthos. Together, these factors tell a story for each reef. Each circle you see here represents a reef while its size and color represent key factors measured by scientists.</p>
					</div>
					<div>
						<h3>Observation Filters</h3>
						<div class="tile expandable" ng-repeat="g in vc.communityFilterGroups" ng-click="vc.toggleCommunityFilterGroup(g)" ng-class="{'tile-selected': g.selected}">
							<h4>{{g.name}}</h4>
							<p ng-if="g.selected">{{g.info}}</p>
							<ul ng-if="g.selected">
								<li ng-repeat="f in g.filters">{{vc.getFilterDisplayName(f)}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="vis-container col-md-9">
			<map></map>
			<drilldown></drilldown>
			<legend config="vc.config"></legend>
		</section>
	</div>
</article>