<article class="explore-container container-fluid">
	<div class="explore-row row">
		<section class="sidebar col-sm-4">
			<div class="tabs row">
				<h2 ng-repeat="g in vc.config.keys" class="col-xs-3" ng-click="vc.showKeyGroup(g)" ng-class="{'tab-selected': g.selected, {{g.group.toLowerCase()}}: true}"><img ng-src="images/graphics/{{g.icon}}"> <span>{{g.group}}</span></h2>
				<h2 class="col-md-3" ng-click="vc.showCompareTab()" ng-class="vc.config.compare_open ? 'tab-selected' : ''"><i class="fas fa-exchange-alt"></i> <span>Compare</span></h2>
			</div>
			<!-- <div>
						<h3>Scientific Assessments of Reef Health</h3>
						<p>Between 2007 and 2016, scientists have conducted over 700 assessments of coral reefs throughout the Caribbean, Gulf of Mexico, and Western Atlantic. These assessments are part of the <a href="https://www.agrra.org/" target="_blank">Atlantic and Gulf Rapid Reef Assessment (AGRRA)</a> which help us understand how healthy a reef is by measuring dozens of factors related to coral, fish, and benthos. Each circle you see here represents a reef while its size and color represent key factors measured by the assessment.</p>
					</div> -->
			<div class="tab-content row">
				<div ng-repeat="g in vc.config.keys" class="col-sm-12" ng-show="g.selected">
					<div>
						<h3 ng-class="{'{{g.group.toLowerCase()}}': true}">
							<i class="fas" ng-class="vc.config.science.show ? 'fa-toggle-on' : 'fa-toggle-off'" ng-click="vc.toggleScienceData()"></i> {{g.group}} Indicators
						</h3>
						<p>Circles on the map represent reefs that have been assessed by the <strong>scientific community</strong> through <a href="https://www.agrra.org/" target="_blank">AGRRA</a>. Select an indicator to see it reflected in the circles' size and color.</p>
						<div class="tile expandable" ng-repeat="k in g.scienceKeys" ng-click="vc.selectScienceKey(g, k)" ng-class="{'tile-selected': k.selected}">
							<h4>{{k.display_name}}</h4>
							<div ng-if="k.selected">
								<!-- <img ng-src="{{k.image}}"> -->
								<p>{{k.description}}</p>
								<!-- <a ng-click="vc.goToCommunityGroup(k.group)"><i class="fas fa-user-friends"></i> Flip to community observations of {{k.group}}</a> -->
							</div>
						</div>
					</div>
					<div>
						<h3 ng-class="{'{{g.group.toLowerCase()}}': true}">
							<i class="fas" ng-class="vc.config.community.show ? 'fa-toggle-on' : 'fa-toggle-off'" ng-click="vc.toggleCommunityData()"></i> {{g.group}} Observations
						</h3>
						<p>Squares on the map represent observations from the <strong>diving community</strong> on <a href="https://www.inaturalist.org/projects/reefgauge" target="_blank">iNaturalist</a>. Select a species group to toggle it on and off.</p>
						<!-- <p>Visual observations of reef environments are key to understanding their health. ReefGauge has collected over 6,000 observations of relevant reef health indicators from the dive community. These observations are submitted through our <a href="https://www.inaturalist.org/projects/reefgauge" target="_blank">partnered citizen science project on iNaturalist</a>. Each square on the map represents one observation. Browse the different reef groups to see observations of key health indicators for that group.</p> -->
					</div>
					<div>
						<button class="btn btn-plain btn-wide" ng-if="!vc.hasAnyCheckedFilters(g)" ng-click="vc.checkAllFiltersInGroup(g)">Select All</button>
						<button class="btn btn-plain btn-wide" ng-if="vc.hasAnyCheckedFilters(g)" ng-click="vc.uncheckAllFiltersInGroup(g)">Remove All</button>
						<!-- <ul class="checkbox-list">
							<li ng-repeat="f in g.communityKeys"><input type="checkbox" ng-model="f.checked" ng-change="vc.setCommunityFilters(g)"><label>{{vc.getFilterDisplayName(f)}}<i ng-if="g.name==='Benthos'"> {{f.promoter ? 'promoter' : 'detractor'}}</i></label></li>
						</ul> -->
						<div class="checkbox-grid row">
							<div class="grid-item-container col-lg-4 col-md-6" ng-repeat="f in g.communityKeys | orderBy:'value_display_name'">
								<span class="grid-item" ng-model="f.checked" uib-btn-checkbox ng-change="vc.setCommunityFilters(g)">
									<img ng-src="{{f.image}}">
									<span class="checkbox-subtitle"><i ng-if="g.group==='Benthos'">{{f.promoter ? 'promoter' : 'detractor'}}</i></span>
									<span class="checkbox-title">{{f.value_display_name}}</span>
									<span class="checkbox-check" ng-if="f.checked" ng-class="{'{{g.group.toLowerCase()}}': true}" uib-tooltip="Hide" tooltip-append-to-body="true" tooltip-placement="bottom"><i class="fas fa-eye"></i></span>
									<span class="checkbox-check" ng-if="!f.checked" ng-class="{'{{g.group.toLowerCase()}}': true}" uib-tooltip="Show" tooltip-append-to-body="true" tooltip-placement="bottom"><i class="fas fa-eye-slash"></i></span>
									<span class="checkbox-ellipsis" ng-click="vc.openInfoOverlay(f); $event.stopPropagation();" uib-tooltip="Read more" tooltip-append-to-body="true" tooltip-placement="bottom"><i class="fas fa-ellipsis-h"></i></span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12" ng-show="vc.config.compare_open">
					<h3>Explore all the Indicators</h3>
					<div class="btn-group var-select" uib-dropdown>
						<button id="color-button" type="button" class="tile" uib-dropdown-toggle ng-disabled="disabled">
						<strong>Color</strong> points by {{vc.getScienceKeyByName(vc.config.science.colorBy).display_name}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem" ng-repeat="prop in vc.scienceKeys" ng-click="vc.setScienceColor(prop.key)" ng-class="prop == vc.config.science.colorBy ? 'selected-dropdown-item' : ''">{{prop.display_name}}</li>
						</ul>
				    </div>		
				    <div class="btn-group var-select" uib-dropdown>
						<button id="color-button" type="button" class="tile" uib-dropdown-toggle ng-disabled="disabled">
						<strong>Size</strong> points by {{vc.getScienceKeyByName(vc.config.science.sizeBy).display_name}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem" ng-repeat="prop in vc.scienceKeys" ng-click="vc.setScienceSize(prop.key)" ng-class="prop == vc.config.science.sizeBy ? 'selected-dropdown-item' : ''">{{prop.display_name}}</li>
						</ul>
				    </div>			
				</div>
				<info-overlay ng-if="vc.infoOverlayItem" item="vc.infoOverlayItem"></info-overlay>
				<!-- <div class="col-sm-12 sidebar-overlay" ng-if="vc.communityKeyInfo">
					<h3>{{vc.communityKeyInfo.value_common_name ? vc.communityKeyInfo.value_common_name : vc.communityKeyInfo.value}}</h3>
					<img ng-src="{{vc.communityKeyInfo.image}}">
					<p>{{vc.communityKeyInfo.description}}</p>
					<a ng-click="vc.closeReadMore()"><i class="fas fa-arrow-left"></i> Go back</a>
				</div> -->
			</div>
		</section>
		<section class="vis-container col-sm-8">
			<map></map>
			<drilldown></drilldown>
			<map-legend config="vc.config"></map-legend>
		</section>
	</div>
</article>